@if (service.tours().length == 0) {
  <p>No tours available.</p>
}

@for (tour of service.tours(); track tour.id) {
  <div class="tour-item" (click)="select(tour)" [class.active]="service.selectedId() === tour.id">
    <app-card>

      <h3>{{ tour.name }}</h3>

      <p><b>Description:</b> {{ tour.description }}</p>

      <p>
        <b>From:</b> {{ tour.from }}
        →
        <b>To:</b> {{ tour.to }}
      </p>

      <p>
        <b>Transport:</b>
        @switch (tour.transportType) {
          @case ('bike') {
            <span>Bike</span>
          }
          @case ('hike') {
            <span>Hike</span>
          }
          @case ('run') {
            <span>Run</span>
          }
          @default {
            <span>{{ tour.transportType }}</span>
          }
        }
      </p>

      <p><b>Distance:</b> {{ tour.distance }} km</p>
      <p><b>Estimated Time:</b> {{ tour.time }} min</p>
      
      @if (service.selectedId() == tour.id) {
        <div class="mobile-only">
          <app-tour-details [tour]="tour" [compact]="true"></app-tour-details>
        </div>
      }
    </app-card>
  </div>

  <hr />
}
