@if (service.filteredTours().length == 0) {
  <p>No tours found.</p>
}

@for (tour of service.filteredTours(); track tour.id) {
  <div class="tour-item" (click)="select(tour)" [class.active]="service.selectedId() == tour.id">
    <app-card>
      <h3>{{ tour.name }}</h3>

      <p><b>Description:</b> {{ tour.description }}</p>

      <p>
        <b>From:</b> {{ tour.fromLocation }}
        →
        <b>To:</b> {{ tour.toLocation }}
      </p>

      <p>
        <b>Transport:</b>
        @switch (tour.transportType) {
          @case ('CAR') {
            <span>Car</span>
          }
          @case ('BIKE') {
            <span>Bike</span>
          }
          @case ('WALKING') {
            <span>Walking</span>
          }
          @default {
            <span>{{ tour.transportType }}</span>
          }
        }
      </p>

      <p><b>Distance:</b> {{ tour.distance }} km</p>
      <p><b>Estimated Time:</b> {{ tour.estimatedTime }} min</p>
      <p><b>Popularity:</b> {{ tour.popularity }}</p>
      <p><b>Child Friendliness:</b> {{ tour.childFriendliness }}</p>

      @if (service.selectedId() == tour.id) {
        <div class="mobile-only">
          <app-tour-details [tour]="tour" [compact]="true"></app-tour-details>
        </div>
      }
    </app-card>
  </div>

  <hr />
}
