.tour-item {
  padding: 10px;
  transition: 0.2s;
  background: white;
}

/* SELECTED (bleibt grau) */
.tour-item.active {
  background: #e0e0e0;
}

/* HOVER NUR wenn NICHT selected */
.tour-item:not(.active):hover {
  background: #eee;
  cursor: pointer;
}
