<app-card>

  <h2>
    @if (isEditMode()) {
      Edit Tour Log
    } @else {
      Create Tour Log
    }
  </h2>

  <div class="form">
    <div class="row">
      <div class="field">
        <label>Date</label>
        <input type="date"
               [value]="date()"
               (input)="onDateInput($event)" />
      </div>

      <div class="field">
        <label>Time</label>
        <input type="time"
               [value]="time()"
               (input)="onTimeInput($event)" />
      </div>
    </div>

    <div class="row">
      <div class="field full">
        <label>Comment</label>
        <input type="text"
               [value]="comment()"
               (input)="onCommentInput($event)" />
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Difficulty</label>
        <input type="number"
               min="1"
               max="5"
               [value]="difficulty()"
               (input)="onDifficultyInput($event)" />
      </div>

      <div class="field">
        <label>Rating</label>
        <input type="number"
               min="1"
               max="5"
               [value]="rating()"
               (input)="onRatingInput($event)" />
      </div>
    </div>


    <div class="row">
      <div class="field">
        <label>Total Distance (km)</label>
        <input type="number"
               min="0"
               [value]="totalDistance()"
               (input)="onDistanceInput($event)" />
      </div>

      <div class="field">
        <label>Total Time (min)</label>
        <input type="number"
               min="0"
               [value]="totalTime()"
               (input)="onTotalTimeInput($event)" />
      </div>
    </div>

    @if (!isValid()) {
      <p class="error">Please fill all fields correctly.</p>
    }

    <div class="actions">
      <button class="btn primary"
              (click)="create()"
              [disabled]="!isValid()">
        @if (isEditMode()) {
          Save
        } @else {
          Create
        }
      </button>
    </div>

  </div>

</app-card>
