<div class="details">
  @if (!compact) {
    <div class="tour-map-wrapper">
      <app-tour-map></app-tour-map>
    </div>
  }

  @if (!compact) {
    <h3>{{ tour.name }}</h3>

    <p><b>Description:</b> {{ tour.description }}</p>
    
    <p>
      {{ tour.fromLocation }} → {{ tour.toLocation }}
    </p>

    <p>
      <b>Transport:</b> {{ tour.transportType }}
    </p>
  }

  <p><b>Distance:</b> {{ tour.distance }} km</p>
  <p><b>Estimated Time:</b> {{ tour.estimatedTime }} min</p>
  <p><b>Popularity:</b> {{ tour.popularity }}</p>
  <p><b>Child Friendliness:</b> {{ tour.childFriendliness }}</p>

  <div class="actions">

    <button class="btn delete"
            (click)="service.delete(tour.id)">
      Delete
    </button>

    <button class="btn edit"
            (click)="service.selectTour(tour.id); router.navigate(['/edit'])">
      Edit
    </button>

    <button class="btn logs"
            (click)="service.selectTour(tour.id); router.navigate(['/logs'])">
      Logs
    </button>

  </div>

</div>
